h1{
  text-align: center;
}

p{
  text-align: center;
}

.App {
  top: 30%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  height: 15em;
  width: 25em;
  box-sizing: border-box;
  color: black;
  transform: translate(-50%, -50%);
}


input{
  width: 320px;
  height: 40px;
  padding: 0;
  margin: 0;
	outline: none;
	border: none;  
	border-radius: 4px;
  /*background-color: rgba(158, 175, 197, 0.534);*/
  color:black ;
  line-height: 32px;
	font-size: 17px;
	font-weight: 500;
	text-decoration: none;
	color: #181717;
  box-shadow: 0 2px #21487f;
  text-indent: 10px;
}

.todo{
  width: 310px;
  min-height: 10px;
  max-height: max-content;
  display: block;
  background-color: rgba(148, 182, 202, 0.397);
  margin-bottom: 10px;
  box-shadow: 0 2px #21487f;
	border: none;  
	border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  content: none;
}

ul{
  list-style-type: none;
  vertical-align: middle;
}

li{
  padding: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.page{
  height:max-content;
  width: max-content;
}

.delete-button{
  margin:0;
  margin-left:110%;
  margin-top: -8%;
  float: left;
  background-color: hsl(0, 74%, 43%);
}

.add-button{
  margin-left: 7%;
  margin-right: 0px;
}

.input-wrapper{
  width: 460px;
  height: 20px;
  padding: 5%;
  vertical-align: top;
 /* border-radius: 8px;
  border: inset #38599f;*/
}

.todo-list{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  width: 460px;
  vertical-align:top;
  height: 460px;
  padding: 5%;
 /* border: inset #38599f;
  border-radius: 8px;*/
  overflow: auto;
}


button {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
  width: 100px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
}
button:hover {
	background-color: #002fed;
}
button:active {
	background-color: #2f599e !important;
}
button:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
button:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}
